{namespace mautic=Leuchtfeuer\Mautic\ViewHelpers}

<div class="t3-form-control-group form-group">
    <label data-random-id data-random-id-attribute="for" data-random-id-number="1"><span
            data-template-property="label"/></label>
    <div class="t3-form-controls" data-identifier="inspectorEditorControlsWrapper">
        <mautic:form.mauticProperties
                data="{template-property: 'selectOptions', random-id: '', random-id-attribute: 'id', random-id-number: '1'}"
                class="form-control" prependOptionLabel="None" prependOptionValue=""/>
    </div>
</div>
